body {
  box-sizing: border-box;
  color:rgb(236, 227, 227)
}

#root {
  color: rgb(236, 227, 227);
  text-align: center;
}
body {
  background-color: rgb(67, 67, 100);
}

footer a {
  color:rgb(211, 114, 162);
  text-decoration: none;
  
}

a:hover {
  text-decoration-line: underline;
}
.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgb(179, 105, 57);
}

.thumb-nail {
  width: 100%;
}

h1 {
  text-align: center;
  color: rgb(196, 196, 202);
  font-size: 1.5rem;
}

h2 {
  font-weight: 100;
  border-style: ridge;
  height: 4rem;
    
  }
footer{
  display: flex;
  flex-direction: column;
  
}

@media (min-width : 800px) {
  #root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1rem;
    background-color: rgb(179, 105, 57);
    padding: 1rem;
  }
  footer{
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(71, 61, 100);
    align-items: center;

  }
  
}