body {
  box-sizing:border-box;
  margin: 0;
  color:rgb(231, 226, 210)
}
header{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgb(75, 63, 97);
    padding: 1em;
  }

  #search-box {
    margin: 1rem 0;
  }
#root {
  color: rgb(236, 227, 227);
  text-align: center;
  position:relative;
  top: 12rem
}
body {
  background-color: rgb(67, 67, 100);
}
footer {
  position:relative;
  top: 10rem;
}
footer a {
  color:rgb(211, 114, 162);
  text-decoration: none;
  
}

a:hover {
  text-decoration-line: underline;
}
.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgb(172, 82, 23);
}

.thumb-nail {
  width: 100%;
}

h1 {
  text-align: center;
  color: rgb(240, 169, 16);
  font-size: 1.5rem;
}

h2 {
  font-weight: 100;
  border-style: ridge;
  border-color: rgb(223, 162, 49);
  font-size: large;
  height: 4rem;
    
  }
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 13rem;
  
}

@media (min-width : 800px) {

  header {
    width: 100%;
  }
  #root{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #input{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1rem;
    background-color: rgb(179, 105, 57);
    padding: 1rem;
  }
  footer{
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(71, 61, 100);
    align-items: center;

  }
  
}